.BaseChat {
  &[data-chat-visible='false'] {
    --workbench-inner-width: 100%;
    --workbench-left: 0;

    .Chat {
      --at-apply: bolt-ease-cubic-bezier;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      will-change: transform, opacity;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}

.Chat {
  opacity: 1;
}

.RayContainer {
  --gradient-opacity: 0.85;
  --ray-gradient: radial-gradient(rgba(83, 196, 255, var(--gradient-opacity)) 0%, rgba(43, 166, 255, 0) 100%);
  transition: opacity 0.25s linear;
  position: fixed;
  inset: 0;
  pointer-events: none;
  user-select: none;
}

.LightRayOne {
  width: 480px;
  height: 680px;
  transform: rotate(80deg);
  top: -540px;
  left: 250px;
  filter: blur(110px);
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

.LightRayTwo {
  width: 110px;
  height: 400px;
  transform: rotate(-20deg);
  top: -280px;
  left: 350px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(60px);
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

.LightRayThree {
  width: 400px;
  height: 370px;
  top: -350px;
  left: 200px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(21px);
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

.LightRayFour {
  position: absolute;
  width: 330px;
  height: 370px;
  top: -330px;
  left: 50px;
  mix-blend-mode: overlay;
  opacity: 0.5;
  filter: blur(21px);
  border-radius: 100%;
  background: var(--ray-gradient);
}

.LightRayFive {
  position: absolute;
  width: 110px;
  height: 400px;
  transform: rotate(-40deg);
  top: -280px;
  left: -10px;
  mix-blend-mode: overlay;
  opacity: 0.8;
  filter: blur(60px);
  border-radius: 100%;
  background: var(--ray-gradient);
}

.PromptEffectContainer {
  --prompt-container-offset: 50px;
  --prompt-line-stroke-width: 1px;
  position: absolute;
  pointer-events: none;
  inset: calc(var(--prompt-container-offset) / -2);
  width: calc(100% + var(--prompt-container-offset));
  height: calc(100% + var(--prompt-container-offset));
}

.PromptEffectLine {
  width: calc(100% - var(--prompt-container-offset) + var(--prompt-line-stroke-width));
  height: calc(100% - var(--prompt-container-offset) + var(--prompt-line-stroke-width));
  x: calc(var(--prompt-container-offset) / 2 - var(--prompt-line-stroke-width) / 2);
  y: calc(var(--prompt-container-offset) / 2 - var(--prompt-line-stroke-width) / 2);
  rx: calc(8px - var(--prompt-line-stroke-width));
  fill: transparent;
  stroke-width: var(--prompt-line-stroke-width);
  stroke: url(#line-gradient);
  stroke-dasharray: 35px 65px;
  stroke-dashoffset: 10;
}

.PromptShine {
  fill: url(#shine-gradient);
  mix-blend-mode: overlay;
}
